{% extends "base.html" %}
{% block title %}
Generic template
{% endblock %}

{% block content %}
<section>
	<div class = "row">
		<div class = "span12">
			<div class ="hero-unit">
				<h1 class=""> 
					Generic Hero unit
				</h1>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class = "span12">
				<h2> Welcome to the Django Boilerlate for DotCloud! </h2>
				<p> Looks like everything worked! </p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class = "container">
		<div class = "row">
			<div class="span6">
				<p>
					<a class="btn btn-large" href="#">
					<i class="icon-user"></i>
					Here is a button
					</a>
				</p>
			</div>
			<div class="span6">
				<p>
					<a class="btn btn-success" href="#">
					<i class="icon-ok"></i>
					And another
					</a>
				</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
 

