{% load compress %}<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="{%block meta_description%}{%endblock meta_description %}">
    <meta name="author" content="{%block meta_author %}{%endblock meta_author %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
    
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/main.css">
    {% endcompress %}

    {% compress js %}
    {% block javascript %}{% endblock javascript %}
    {% endcompress %}
    
</head>
<body>
    {% block content %}{% endblock content %}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}javascripts/libs/jquery-1.6.4.min.js"%3E%3C/script%3E'))</script>
    
    {% compress js %}
    {% block footer %}
    {% endblock footer %}
    {% endcompress %}
</body>
</html>
